{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div id="shopify-section-account-bar position-{{ block.settings.position }}">
      <div class="account-bar">
        <div class="account-bar__left">
          <div class="account-bar__left__items"><i class="fas fa-search"></i>
            <p class="account-bar__right__items__text">Search</p>
          </div>
        </div>
        <div class="account-bar__right">
          <div class="account-bar__right__items"><a class="account-bar__right__items__item">Login</a><a
              class="account-bar__right__items__item account">Create account</a><a
              class="account-bar__right__items__item cart"><i class="fas fa-shopping-cart"></i>0 Cart</a></div>
        </div>
      </div>
      </div>
      
    </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "Account bar",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "account bar",
      "name": "account bar",
      "settings": [

        {
          "type": "select",
          "id": "position",
          "default": "sticky"
          "options": [
            {
              "value": "static",
              "label": "static"
            },
            {
              "value": "sticky",
              "label": "sticky"
            }
          ]
         
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
}
{% endschema %}
